---
import Directory from "../components/Directory.jsx";
import "../styles/global.css";
---

<html lang="en" class="dark">
  <!-- Activamos dark mode por defecto -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nexus - Premium Tools</title>
  </head>
  <body class="bg-[#050505]">
    <!-- Aquí ocurre la magia de las 'islas' de Astro. client:load hace que React funcione. -->
    <Directory client:load />
  </body>
</html>
